#navPic{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navLeft{
  margin-left:15px;
  width: 540px
}

#navRight{
  margin-right:15px;
  width: 540px
}

#hostInfo{
  width: 100%
}

#neighborhood{
  width: 100%
}

#policies{
  width: 100%
}

/*  */

#spacer {
  height: 300px;
}
#mainFlexbox {
  display: flex;
  flex-direction: row;
  width: min-content;
  margin: auto;
}
#rightCol {
  margin-top: 20px;
}
#bookings-master-container {
  position: sticky;
  top: 70px;
  margin-left: 40px;
}
#footer {
  justify-content: center;
  width: min-content;
  margin: auto;
};
