#description table{
  display: flex;
  flex-direction: row
}

#description tbody{
  width: 333px;
  margin: 5px 0px 10px 0px

}

#description tr{
  height: 45px
}

.amenIcon{
  width: 30px;
  height: 30px;

}