@import url('https://fonts.googleapis.com/css?family=Raleway');

a:link{color: #008489}
a:active{color: #008489}
a:visited{color: #008489}

.outermostDiv{
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

.divider{
  margin: 24px 0px 24px 0px;
  border-bottom: 1px solid #EBEBEB;
}

.moreAmensLink{
  cursor: pointer;
  text-decoration: underline !important;
  font-weight: bold;
  color: #008489 !important
}