@import url('https://fonts.googleapis.com/css?family=Raleway');

.summary{
  font-family: 'Raleway', sans-serif;
}

.readLess{
  /* visibility: hidden;
  height: 0px; */
  flex-direction: column;
  animation: fadeOut 700ms forwards;
}

.readMore{
  display: flex;
  flex-direction: column;
  animation: fadeIn 700ms forwards;
}

.readMoreLink{
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: #008489
  !important
}

.readMoreArrow{
  height: 15px;
  width: 15px;
}

.readLessArrow{
  height: 15px;
  width: 15px;
  transform: scaleY(-1);
}

.readSummary{
  margin-top: 15px;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    height: 0;
  }
}