@import url('https://fonts.googleapis.com/css?family=Raleway');

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
}

.hostImg {
  height: 64px;
  width: 64px;
  border-radius: 100px;
}

.propertyName {
  font-size: 32px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}

.cityName{
  margin-top: 7px;
  margin-bottom: 10px;
}
