@import url('https://fonts.googleapis.com/css?family=Raleway');

.numberContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
}

.icon{
  width: 24px;
  height: 44px
}

.houseIcon {
  width: 14px;
  height: 16px;
  /* padding-right: 10px; */
  padding-bottom: 3px
}

.locationIcon {
  width: 22px;
  height: 44px
}

.detail{
  margin-right: 15px
}